# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Build directory
build/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
build/
Debug/
Release/
x64/
x86/

# IDE files
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.log
*.png

*.gp
*.0
speedup_data.txt