name: C++ Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up C++
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ make

    - name: Compile tests
      run: |
        make test

    - name: Run tests
      run: |
        make run-tests